<ion-button (click)="close()" class="button--close"
  ><ion-icon name="close"></ion-icon
></ion-button>
<div class="content">
  <div class="login__text">
    <h3>Welcome</h3>
    <span>Register or sign in</span>
  </div>

  <div class="login--buttons">
    <ion-button class="button--round button--google" (click)="loginGoogle()">
      <ion-icon name="logo-google"></ion-icon>
      <b>Log in with Google</b>
    </ion-button>
    <!-- <ion-button class="button--round button--facebook">
      <ion-icon name="logo-facebook"></ion-icon>
      <b>Log in with Facebook</b>
    </ion-button> -->
  </div>

</div>
