<ion-card (click)="navigate(data._id)">
  <img [src]="data.img" alt="Product image"/>
  <div class="text">
    <ion-card-header>
      <ion-card-title>
        {{ data.title }}
        <button (click)="setFavorites($event)" class="button--transparent">
          <ion-icon name="star-outline" [color]="favorite ? 'primary' : ''"></ion-icon>
        </button>
      </ion-card-title>
      <ion-card-subtitle>{{ data.category }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>{{ data.description }} </ion-card-content>
  </div>
</ion-card>
