@import "../../../../theme/mixin.scss";

ion-card {
  background: var(--ion-color-light);
  box-shadow: rgb(121 174 163 / 12%) 0px 0.25rem 1rem;
  margin: 1rem;
  img {
    max-height: 16rem;
    object-fit: cover;
    width: 100%;
  }
  &:hover {
    background: var(--ion-color-primary);
    color: white;
    cursor: pointer;
  }
}

@include tablet;
@include smartphone {
  ion-card {
    display: flex;
    flex: 1 1 auto;
    padding-right: 3%;
    img {
      width: 45%;
    }
  }
}
