<ion-content>
  <h3 class="title">{{"upload.title" | translate}}</h3>
  <form class="form" [formGroup]="productForm">
    <ion-item class="item">
      <ion-label>{{"upload.category" | translate}}</ion-label>
      <ion-select
        placeholder="Select type"
        interface="popover"
        formControlName="type"
      >
        <ion-select-option
          *ngFor="let product of productTypes"
          value="{{product.value}}"
        >
          {{product.name | translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="item">
      <ion-label>{{"upload.name" | translate}}</ion-label>
      <ion-input type="text" name="title" formControlName="title"></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label>{{"upload.price" | translate}}</ion-label>
      <ion-input
        type="text"
        name="price"
        class="ion-input--text-right"
        formControlName="price"
      >
      </ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label>{{"upload.currency" | translate}}</ion-label>
      <app-currency-drop-down> </app-currency-drop-down>
    </ion-item>
    <ion-item class="item--big">
      <ion-label>{{"upload.description" | translate}}</ion-label>
      <ion-textarea
        name="Description"
        formControlName="description"
      ></ion-textarea>
    </ion-item>
  </form>
  <h3 class="title">{{"upload.photo-title" | translate}}</h3>
  <div class="fotos">
    <app-updater-photo></app-updater-photo>
  </div>
  <app-map></app-map>

  <div class="button">
    <ion-button class="button--round" (click)="uploadProduct()">
      {{"upload.upload-button" | translate}}
    </ion-button>
  </div>
</ion-content>
