<ion-content *ngIf="userService._getUser() | async as user">
  <header class="profile__header">
    <div class="circle"></div>
    <img [src]="user.photoURL" alt="" srcset="" />
  </header>
  <form class="profile__info">
    <ion-list>
      <ion-item lines="full">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input [value]="user.displayName"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-input [value]="user.phone"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>{{user.rating}}</ion-label>
      </ion-item>
    </ion-list>
    <app-map></app-map>
  </form>
  <footer class="footer">
    <ion-button class="button--round" (click)="saveChanges()">Save</ion-button>
    <ion-button class="button--round" (click)="logout()">Logout</ion-button>
  </footer>
</ion-content>
