<ion-content *ngIf="userService._getUser() | async as user">
  <header class="profile__header">
    <div class="circle"></div>
    <img src="{{user.photoURL}}" alt="" srcset="" />
  </header>
  <div class="profile__info">
    <ion-list>
      <ion-item lines="full">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>{{user.displayName}}</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>{{user.email}}</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>{{user.phone}}</ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>{{user.rating}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button class="button--round" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>
