<ion-content *ngIf="userService._getUser() | async as user">
  <header class="profile__header">
    <div class="circle"></div>
    <img [src]="user.photoURL" alt="" srcset="" />
  </header>
  <form [formGroup]="userForm" class="profile__info">
    <ion-list>
      <ion-item lines="full">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input formControlName="displayName" value="{{user.displayName}}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-input formControlName="phoneNumber" value="{{user.phoneNumber}}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>{{user.rating}}</ion-label>
      </ion-item>
    </ion-list>
    <app-map></app-map>
  </form>
  <footer class="footer">
    <ion-button class="button--round" (click)="saveChanges()">
      {{"profile.edit" | translate}}
    </ion-button>
    <ion-button class="button--round" (click)="logout()">
      {{"profile.logout" | translate}}
    </ion-button>
  </footer>
</ion-content>
