.input {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  :focus {
    outline: none;
  }
}

.input-div {
  display: flex;
  gap: 12px;
  width: 90%;
  align-items: center;
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-primary);
  border-radius: 25px;
  padding: 10px;
  justify-self: center;
  flex: 1;
}

.input-div:focus-within {
  border-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary);
}
