@import "../../../../theme/mixin.scss";

@mixin genericTab {
    display: flex;
    gap: var(--inner-padding);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.tabs {
    display: none;
    flex-direction: row;
    visibility: inherit;
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: white;
    @include for-tablet-landscape-down {
        display: flex;
    }
}

.tab {
    @include genericTab();
    button {
        border: 0;
        @include genericTab();
        padding: var(--outside-padding);
        -webkit-tap-highlight-color: transparent;
        color: var(--not-selected);
    }
    :hover {
        cursor: pointer;
    }
    span {
        font-family: 900;
    }
}

.tab-selected {
    button {
        color: var(--ion-color-primary);
    }
}

.icon {
    height: 25px;
    width: 25px;
}