.square {
  border: 2px dashed var(--ion-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  aspect-ratio: 1 / 1;
}

.product-photo {
  color: var(--ion-color-primary);
  font-size: 72px;
}

#myFileInput {
  position: absolute;
  opacity: 0;
}
