/*#region MediaQuerys*/
@mixin for-phone-only {
  @media only screen and (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-down {
  @media only screen and (min-width: 750px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media only screen and (max-width: 750px) {
    @content;
  }
}
@mixin for-tablet-landscape-down {
  @media only screen and (max-width: 900px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media only screen and (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}
/*#endregion MediaQuerys*/
