@import "../../../../theme/mixin.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
  height: 65px;
  position: sticky;
  top: 0;
  background-color: white;
  padding: {
    left: 15px;
    right: 15px;
  }
  z-index: 3;
  border-bottom: 1px solid;
  border-color: rgba(236, 239, 241, 0.5);
}

.input-div {
  display: flex;
  gap: 12px;
  width: 65%;
  align-items: center;
  color: var(--not-selected);
  justify-self: center;
  flex: 1;

}

.input-div:focus-within {
  color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  border-radius: 25px;
  padding: 10px;
}

.right-div {
  display: flex;
  gap: 12px;
  height: 100%;
  align-items: center;
  justify-content: center;
  @include for-tablet-landscape-up {
    display: none;
  }
}

.input {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  :focus {
    outline: none;
  }
}
