<header class="header">
  <ion-button shape="round" (click)="clickHome()" class="button__icon">
    <ion-icon slot="icon-only" name="home"></ion-icon>
  </ion-button>

  <div class="input-div">
    <ion-icon name="search-outline"></ion-icon>
    <ion-input
      type="text"
      class="input"
      placeholder="Soy un placeholder"
    ></ion-input>
  </div>

  <div class="right-div">
    <ion-button (click)="openLoginModal()" class="button__icon">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>
</header>
