<header class="header">
  <ion-button shape="round" (click)="clickHome()" class="button--icon">
    <ion-icon slot="icon-only" name="home"></ion-icon>
  </ion-button>

  <app-input
    [name]="'search-outline'"
    [placeholder]="'HEADER.INPUT.PLACEHOLDER'"
    class="input"
  ></app-input>

  <div class="right-div">
    <ion-button (click)="openLoginModal()" class="button--icon">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="openLoginModal()" class="button--icon">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="openLoginModal()" class="button--icon">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>
</header>
