<header class="header">
  <button (click)="clickHome()" class="button-home">
    <ion-icon name="home-outline"></ion-icon>
  </button>
  <div class="input-div">
    <ion-icon name="search-outline"></ion-icon>
    <input type="text" class="input" placeholder="Soy un placeholder" />
  </div>
  <div class="right-div">
    <button class="button" (click)="openLoginModal()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <span>{{ "buttons.profile" | translate }}</span>
    </button>
  </div>
</header>
