<div class="header">
  <ion-button shape="round" (click)="clickHome()" fill="clear">
    <ion-icon slot="icon-only" name="home"></ion-icon>
  </ion-button>

  <app-input
    [name]="'search-outline'"
    [placeholder]="'HEADER.INPUT.PLACEHOLDER'"
    class="input"
  ></app-input>

  <div class="right-div">
    <div class="logged" *ngIf="logged">
      <div class="btn btn-clear" (click)="navigateTo('favorites')">
        <ion-icon name="heart-outline"></ion-icon>
        <p>{{ "HEADER.FAVORITES" | translate }}</p>
      </div>

      <div class="btn btn-clear" (click)="navigateTo('profile')">
        <ion-icon name="person-outline"></ion-icon>
        <p>{{ "HEADER.PROFILE" | translate }}</p>
      </div>

      <div class="btn btn-primary" (click)="navigateTo('upload')">
        <ion-icon name="add-circle-outline"></ion-icon>
        <p>{{ "HEADER.ADD_PRODUCT" | translate }}</p>
      </div>
    </div>

    <div class="logged" *ngIf="!logged">
      <div class="btn btn-secondary" (click)="openLoginModal()">
        <ion-icon name="person-circle-outline"></ion-icon>
        <p>{{ "HEADER.LOGIN" | translate }}</p>
      </div>

      <div class="btn btn-primary" (click)="navigateTo('upload')">
        <ion-icon name="add-circle-outline"></ion-icon>
        <p>{{ "HEADER.ADD_PRODUCT" | translate }}</p>
      </div>
    </div>
  </div>
</div>
