@import "../../../theme/mixin.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
  height: 65px;
  position: sticky;
  top: 0;
  background-color: var(--ion-background-color);
  padding: {
    left: 15px;
    right: 15px;
  }
  z-index: 3;
  border-bottom: 1px solid;
  border-color: var(--ion-color-medium);
}

.right-div {
  display: flex;
  gap: 12px;
  height: 100%;
  align-items: center;
  justify-content: center;

  @include smartphone {
    display: none;
  }
}

.logged {
  display: flex;
  grid-gap: 15px;
}

.input {
  flex-grow: 1;
}
