.input__location {
    width: 100%;
    background-color: white;
    border: 1px solid var(--ion-color-primary);
    border-radius: 0.25rem;
}

.map__card {
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1.15em;
}

.map {
    border-radius: 0.25rem;
}