/* Core CSS required for Ionic components to work properly */
@import "../src/theme/mixin.scss";
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --btn-border-radius: 25px;
}

.button--icon {
  --background: none;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;
  --color: var(--ion-color-primary);
  --box-shadow: 0;
  --ripple-color: deeppink;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.button--round {
  --border-radius: var(--btn-border-radius);
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.btn--no-ionic {
  border-radius: var(--btn-border-radius);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    margin: 0px;
  }

  ion-icon {
    font-size: 24px;
  }

  @include tablet {
    border: none;
    background-color: transparent;

    p {
      display: none;
    }

    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}

.btn--no-ionic--primary {
  background-color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  p {
    color: white;
    font-weight: 600;
  }
  ion-icon {
    color: white;
  }
}

.btn--no-ionic--secondary {
  ion-icon {
    color: var(--ion-color-primary);
  }
  p {
    color: var(--ion-color-primary);
  }
}

.btn--no-ionic--clear {
  background-color: transparent;
  ion-icon {
    color: var(--ion-color-primary);
  }
  p {
    color: var(--ion-color-primary);
  }
}

.modal--small {
  --max-width: 400px;
  --border-radius: 10px;
  --max-height: 450px;
}
